nav {
  width: 100%;
  background-color: rgb(35, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px;
}
nav li {
  list-style: none;
}

button {
  width: 280px;
  padding: 10px;
  background-color: rgb(84, 123, 207);
  border: none;
  border-radius: 10px;
  color: white;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.btn-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgb(35, 235, 235);
}