@import "./component/variable";
@import "./component/nav";
@import "./component/button";
*{
    font-family: sans-serif;
    @include zeroPM;
}
body{
    @include dis-flex;
    flex-direction: column;
    justify-content: center;
}
.btn-container{
    padding: $regpadding;
    @include dis-flex;
    flex-wrap: wrap;
    background-color: $main-color;
}