@import "variable";
@import "mixin";
button{
    width: 200px;
    height: 100px;
    padding: $regpadding;
    background-color: $primary-color;
    border: none;
    border-radius: $regpadding;
    color: $text-color;
}