@import "variable";
@import "./mixin";
nav{
    width: 100%;
    background-color: $main-color;
    @include dis-flex;
    color: $text-color;
    padding: $regpadding;
    li{
        @include listNone;
    }
}